body {
    background-color: #1c1c1c;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #222;
    border-bottom: 2px solid #333;
}

main {
    padding: 20px;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.col {
    flex: 1;
    margin: 10px;
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

img#video-stream {
    width: 100%;
    border-radius: 10px;
}
